@font-face {
  font-family: 'notokr';
  src: url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.eot');
  src: url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/3a8ef215f4437b176fe0901f44ffbab0.svg#NotoKR-Regular')
      format('svg');
}

body {
  height: 100vh;
  /* background: #000000; */
  font-display: swap;
  font-family: 'notokr', '맑은고딕', 'Malgun Gothic', malgun, '돋움', Dotum,
    '굴림', Gulim, 'AppleSDGothicNeo-Light', AppleGothic, Helvetica, Arial,
    'HelveticaNeue-Light', 'sans-serif-light', sans-serif;
  margin: 0px !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body {
    background: #1f2327;
  }

  .logo_div {
    display: none;
  }
}

.logo_div {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.logo_div img {
  width: 30%;
  display: block;
  margin-left: auto;
}

.App {
  background: #1f2327;
  max-width: 500px;
  margin: 18px auto;
  text-align: center;
  padding-top: 10rem;
  height: 80%;
  border-radius: 20px;
}

h1,
h2,
b {
  color: #ffffff;
}

.start-button {
  font-weight: 600;
  font-size: 18px;
  width: 60%;
  margin-top: 32px;
  height: 50px;
  border-radius: 10px;
  background-color: #3182f6;
  color: #ffffff;
  border: 1px solid #3182f6;
  padding: 10px;
  cursor: pointer;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 10px;
}

.start-input {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #90c2ff;
  border: none;
  height: 50px;
  color: #000000;
  width: 60%;
  text-align: center;
  font-size: 18px;
}

.start-input::placeholder {
  color: #000000;
}

.restart-button {
  width: 60%;
  margin-top: 32px;
  background-color: #3182f6;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.error-box {
  color: rgb(239, 44, 44);
  font-size: 12px;
  margin-top: 10px;
}

.final-message {
  line-height: 50px;
}

.start-page {
  line-height: 50px;
  margin-top: 36px;
}

.disable {
  background-color: #7e7e7e;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.disable-input {
  background-color: #c7c7c7;
  border: none;
  cursor: not-allowed;
}

